# Ignore node_modules
node_modules

# Ignore build directory
build

# Ignore any local environment files
.env

# Ignore version control directories
.git
.gitignore

# Ignore log files
*.log

# Ignore system files
.DS_Store
Thumbs.db
